<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <header>
        <h1>音乐可视化</h1>
        <p>音量 <input id="volume" type="range" min="0" max="100" value="15"></p>
    </header>
    <div class="side" id="side">
        <a href="/login"><button class="login" id="login"><%= userName %></button></a>
        <button class="local-music" id="local-music">上传音乐</button>
        <input class="upload" id="upload" type="file"/>
        <ul class="music" id="music">
            <% musicList.forEach(function(name){ %>
            	<li title="<%= name %>"><%= name %></li>
            <% }) %>
        </ul>
    </div>
    <script src="/javascripts/p5.min.js"></script>
    <script src="/javascripts/p5.sound.min.js"></script>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/mySketch.js"></script>
</body>

</html>
